NEXT_PUBLIC_SUPABASE_URL=https://inrjiemedslqkdoagple.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlucmppZW1lZHNscWtkb2FncGxlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYyMDk2ODYsImV4cCI6MjA5MTc4NTY4Nn0.leqjc5lK8_ipVDZQQZMADBF0MDN3iJxhCJ4RNXfhXpE
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000
